<!DOCTYPE html>

<html lang="en">
    
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="/static/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>

    <body class="sb-nav-fixed">
        {% include "nav.html" %}                           
            </div>
            <div id="layoutSidenav_content">
                
        <main>
            {# Cargamos la librería #}
            {% load bootstrap4 %}
            
            {# CSS Bootstrap #}
            {% bootstrap_css %} 

            {# Widget Tweaks #}
            {% load widget_tweaks %}

            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              
              <!-- {{ form.as_p }} -->
              <div class="form-group">
                <label for="form.idmascota" class="txt_negrita">Id mascota</label>
                {{ form.idmascota|add_class:"form-control" }} <!-- Usamos la librería 'widget_tweaks' para crear esta caja de texto -->
              </div>
              <div class="form-group">
                <label for="nombre" class="txt_negrita">Nombre</label>
                {{ form.nombre|add_class:"form-control" }}
              </div>
              <div class="form-group">
                <label for="color " class="txt_negrita">Color</label>
                {{ form.color|add_class:"form-control" }}
              </div>
              <div class="form-group">
                <label for="peso " class="txt_negrita">Peso</label>
                {{ form.peso|add_class:"form-control" }}
              </div>
              <div class="form-group">
                <label for="Genero " class="txt_negrita">Genero</label>
                {{ form.genero|add_class:"form-control" }}
              </div>
              <div class="form-group">
                <label for="fechadenacimiento " class="txt_negrita">Fecha de nacimiento</label>
                {{ form.fechadenacimiento|add_class:"form-control" }}
              </div>
              <div class="form-group">
                <label for="foto " class="txt_negrita">Foto</label>
                {{ form.foto|add_class:"form-control" }}
              </div>
              <div class="form-group">
                <label for="Observaciones " class="txt_negrita">Observaciones</label>
                {{ form.observaciones|add_class:"form-control" }}
              </div>

              <button type="submit" class="btn btn-primary">Aceptar</button>
              <a href="../" type="submit" class="btn btn-primary">Volver</a>
            
            </form>

          
        </main>

                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
























