<!DOCTYPE html>

<html lang="en">
    
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="/static/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
         {# Cargamos la librería #}
         {% load bootstrap4 %}
            
         {# CSS Bootstrap #}
         {% bootstrap_css %} 

         {# Widget Tweaks #}
         {% load widget_tweaks %}
         
    </head>

    <body class="sb-nav-fixed">
        {% include "nav.html" %}                           
            </div>
            <div id="layoutSidenav_content">
                
        <main>
           

            <h4>Detalles</h4>

            <p><span class="txt_negrita">Id mascota:</span> <br> {{object.idmascota}}</p>
            <p><span class="txt_negrita">Nombre:</span> <br> {{object.nombre}}</p>
            <p><span class="txt_negrita">Color:</span> <br> {{object.color}}</p>
            <p><span class="txt_negrita">Peso:</span> <br> {{object.peso}}</p>
            <p><span class="txt_negrita">Genero:</span> <br> {{object.genero}}</p>
            <p><span class="txt_negrita">Fecha de nacimiento:</span> <br> {{object.fechadenacimiento}}</p>
            <p><span class="txt_negrita">Observaciones:</span> <br> {{object.observaciones}}</p>
            <p><span class="txt_negrita">Id collar:</span> <br> {{object.collar_idcollar}}</p>
            <p><span class="txt_negrita">Id tanimal:</span> <br> {{object.tanimal_idtanimal}}</p>
            <p><span class="txt_negrita">Id raza:</span> <br> {{object.raza_idraza}}</p>
            <p><span class="txt_negrita">Id especie:</span> <br> {{object.especie_idespecie}}</p>
            <p><span class="txt_negrita">Id alarmas:</span> <br> {{object.alarmas_idalarmas}}</p>

            <!-- Botón para volver a la vista principal (Home) -->
            <a href="../" type="submit" class="btn btn-primary">Volver</a>

          
        </main>

                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>

















