{# Cargamos la librería #}
{% load bootstrap4 %}
 
{# CSS Bootstrap #}
{% bootstrap_css %} 

{# Widget Tweaks #}
{% load widget_tweaks %}

<h4>Detalles</h4>

<p><span class="txt_negrita">Id mascota:</span> <br> {{object.idcategorias}}</p>
<p><span class="txt_negrita">Nombre:</span> <br> {{object.nombre}}</p>
<p><span class="txt_negrita">Color:</span> <br> {{object.descripcion}}</p>
<p><span class="txt_negrita">Peso:</span> <br> {{object.created_at}}</p>
<p><span class="txt_negrita">Genero:</span> <br> {{object.updated_at}}</p>
<p><span class="txt_negrita">Fecha de nacimiento:</span> <br> {{object.updated_at}}</p>
<p><span class="txt_negrita">Observaciones:</span> <br> {{object.updated_at}}</p>
<p><span class="txt_negrita">Foto:</span> <br> {{object.updated_at}}</p>
<!-- Botón para volver a la vista principal (Home) -->
<a href="../" type="submit" class="btn btn-primary">Volver</a>
