<html lang="en">
    <head>

      {# Cargamos la librería #}
      {% load bootstrap4 %}
    
      {# CSS Bootstrap #}
      {% bootstrap_css %} 
      {# Archivos #}
      {% load static %}

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="/static/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>


        {% if messages %}
        <ul class="messages list-group mb-3">
          {% for message in messages %}
          <li {% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
    </head>
    <body class="sb-nav-fixed">

        {% include "nav.html" %}
                           
            </div>
            <div id="layoutSidenav_content">
                <main>
                      {# JS y jQuery Bootstrap #}
                      {% bootstrap_javascript jquery='full' %} 
                      <div align ="left" class="btn_crear mb-3">
                        <a href="crear" type="button" class="btn btn-primary">Crear</a>
                      </div>
                      <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-table me-1"></i>
                            Mascota
                        </div>
                        <div class="card-body">
                            <table id="datatablesSimple">
                              <thead>
                               <tr>
                                  <th>Mascota </th>
                                  <th>Nombre</th>
                                  <th>Color</th>
                                  <th>Peso</th>
                                  <th>Genero</th>
                                  <th>Fecha Nacimiento</th>
                                  <th>Foto</th>
                                  <th>Observaciones</th>
                                  <th>Id collar</th>
                                  <th>Id tanimal</th>
                                  <th> Id raza</th>
                                  <th> Id especie</th>
                                  <th> Id alarmas</th>
                               </tr>
                             </thead>
                          <tfoot>
                            <tr> 
                                
                            </tr>
                         </tfoot>
                            <tbody>
                              <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'categoria' y los listamos -->
                              {% for Mascota in object_list %}
                                <tr>
                                  <td>{{ Mascota.idmascota }}</td>
                                  <td>{{ Mascota.nombre }}</td>
                                  <td>{{ Mascota.color }}</td>
                                  <td>{{ Mascota.peso }}</td>
                                  <td>{{ Mascota.genero }}</td>
                                  <td>{{ Mascota.fechadenacimiento }}</td>
                                  <td>{{ Mascota.foto }}</td>
                                  <td>{{ Mascota.observaciones }}</td>
                                  <td>{{ Mascota.collar_idcollar }}</td>
                                  <td>{{ Mascota.tanimal_idtanimal }}</td>
                                  <td>{{ Mascota.raza_idraza }}</td>
                                  <td>{{ Mascota.especie_idespecie }}</td>
                                  <td>{{ Mascota.alarma_idalarmas }}</td>
                                  <td>

                                
                                  <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o postre desde la misma tabla HTML -->                        
                              <form method="POST" action="eliminar/{{ Mascota.idmascota}}">
                                  {% csrf_token %}
                                  <div class="btn-group">
                        
                                    <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros o postres -->
                                    <a href="detalle/{{ Mascota.idmascota}}" title="Ver" type="button" class="btn btn-success">Ver </a>
                                    <a href="editar/{{ Mascota.idmascota}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                                    <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                                      Eliminar
                                    </button>
                                  </div>
                                </form>
                        
                              </td>
                            </tr>
                          {% endfor %}
                        
                          </tbody>
                        </table> 
                                <script type="text/javascript">
                                function eliminar() {
                                    var x = confirm("Confirma que desea Eliminar Producto ?");
                                    if (x)
                                    return true;
                                    else
                                    return false;
                                }
                                </script> 
                        {# JS y jQuery Bootstrap #}
    
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body {% bootstrap_javascript jquery='full' %}>
</html>




















